dev
dist
/types
node_modules

/docs
/ai-docs


package-lock.json
pnpm-lock.yaml

.DS_Store

.idea
.vscode

.eslintcache
*.tsbuildinfo
*.log
.claude/settings.local.json
findings.md
progress.md
task_plan.md
